node_modules
.VSCodeCounter
authorization_code
server/java/sp-playcount-librespot/.idea/
server/java/sp-playcount-librespot/out/
server/java/sp-playcount-librespot/target/
server/java/sp-playcount-librespot/*iml
server/java/sp-playcount-librespot/config.toml
server/java/sp-playcount-librespot/credentials.json
server/java/sp-playcount-librespot/cache/
.settings/
.project
.DS_Store
bin/
.classpath
.vscode/
server/java/sp-playcount-librespot/creds.json
*.ks